.footer {
  display: flex;
  justify-content: space-around;
}

.footer__column {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
}

.column__header {
  position: relative;
  font-size: 18px;
  margin: 0;
}

.column__line {
  background-color: black;
  height: 1px;
  width: 25%;
  margin: 10px 0;
}

.column__text {
  text-align: center;
  margin: 0;
}

.column__link {
  text-decoration: none;
  color: black;
}

.footer__icons {
  display: inline;
}

.footer__icon {
  font-size: 24px;
  text-decoration: none;
  color: black;
  margin: 0 5px;
}
