@use '~@angular/material' as mat;

@include mat.core();

$light-primary: mat.define-palette(mat.$purple-palette, 800);
$light-accent: mat.define-palette(mat.$purple-palette, 50);
$light-warn: mat.define-palette(mat.$red-palette, 800);
$light-foreground: mat.define-palette(mat.$gray-palette, 100);

$CUEstion-light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
    background: #FFFFFF,
    foreground: $light-foreground,
  )
));

@include mat.all-component-themes($CUEstion-light-theme);

